<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="UTF-8"/>
	<meta name="_csrf_header" th:content="${_csrf.headerName}">
	<meta name="_csrf_token" th:content="${_csrf.token}">
	<title>그룹 회원 정보</title>
	<link rel="stylesheet" type="text/css" href="/css/team/teamCommon.css">
	<script type="text/javascript" src="/js/team/member/tminfo.js" defer></script>
</head>
<body>
<div id="main-container"> <!-- main-container 시작 -->
<table>
	<tr>
		<td>그룹 명
		<td th:text="${dto.team_name}">
	<tr>
		<td>별명
		<td th:text="${dto.tm_nickname}">
	<tr>
		<td>등급
		<td th:text="${dto.tm_grade}">
	<tr>
		<td>그룹 참가 일자
		<td th:text="${#temporals.format(dto.tm_reg, 'yyyy-MM-dd')}">
	<tr>
		<td colspan="2">
			<input type="hidden" name="team_id" id="team_id" th:value="${dto.team_id}">
			<input type="hidden" name="member_id" id="member_id" th:value="${dto.member_id}">
			<th:block th:if="${dto.member_id == member_id}">
			<button type="button" name="update" id="update">수정</button>
			<button th:if="${dto.tm_grade != 'TEAM_MASTER'}" type="button" name="delete" id="delete">그룹 탈퇴</button>
			</th:block>
</table>
</div> <!-- main-container 끝 -->
</body>
</html>