<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="UTF-8"/>
	<title>게시판 목록</title>
</head>
<body>
<h1><a th:href="@{/board/list}">게시판</a></h1>
<a th:href="@{/board/upload}">게시글 작성</a>
<a th:href="@{/main}">메인</a>
<br>
<form method="get">
	<label for="search">검색 : </label>
	<input type="text" name="search" id="search" th:value="${search}">
	<button type="submit">검색</button>
</form>

<div>
	<table>
		<tr>
			<th>글번호</th>
			<th>제목</th>
			<th>작성자</th>
			<th>작성일자</th>
		</tr>
		<tr th:each="board : ${paging}">
			<td th:text="${board.boardId}"></td>
			<td><a th:text="${board.title}" th:href="@{|post/${board.boardId}|}"></a></td>
			<td th:text="${board.writer.id}"></td>
			<td th:text="${#temporals.format(board.createDate, 'yyyy-MM-dd HH:mm')}"></td>
		</tr>
	</table>
</div>

<div th:if="${!paging.isEmpty}">
	<a th:if="${paging.hasPrevious}" th:href="@{|list?page=${paging.number}&search=${search}|}">이전</a>
	<a th:each="page : ${#numbers.sequence(1, paging.totalPages)}" style="margin:0 4px;"
		th:if="${page >= paging.number-4 and page <= paging.number+6}"
		th:href="@{|list?page=${page}&search=${search}|}" th:text="${page}"></a>
	</th:block>
	<a th:if="${paging.hasNext}" th:href="@{|list?page=${paging.number+2}&search=${search}|}">다음</a>
</div>

</body>
</html>