<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="UTF-8"/>
	<title>비밀번호 찾기</title>
</head>
<body>
<a th:href="@{/main}">메인</a>
<hr>
<form th:action="@{/member/findpw2}" method="post" th:object="${memberPwForm}">
	<div th:replace="~{layouts/errors :: errors}"></div>
	<input type="hidden" name="id" th:value="${id}">
	<label for="pw">비밀번호</label>
	<input type="password" name="pw" id="pw" required> <br>
	<label for="pw2">비밀번호 확인</label>
	<input type="password" name="pw2" id="pw2" required> <br>
	<button type="submit">비밀번호 설정</button>
</form>
</body>
</html>