<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="UTF-8"/>
	<title>로그인</title>
</head>
<body>
<form th:action="@{/member/login}" method="post">
	<div th:if="${param.error}">
		<p>아이디 혹은 비밀번호를 확인해주세요.</p>
	</div>
	<label for="id">아이디</label>
	<input type="text" id="id" name="id"> <br>
	<label for="pw">비밀번호</label>
	<input type="password" id="pw" name="pw"> <br>
	<button type="submit">로그인</button>
</form>
</body>
</html>