
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.12.1/dist/sweetalert2.all.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.12.1/dist/sweetalert2.min.css" rel="stylesheet">
</head>
<body>
	<input type="hidden" id="errorMsg" th:value="${errorMessage}">
	<input type="hidden" id="deleteMember" th:value="${deleteMember}">
	<script>
		const errorMsg = document.getElementById("errorMsg").value;
		const deleteMember = document.getElementById("deleteMember").value;
		console.log(errorMsg);
		if (errorMsg != null && errorMsg != "") {
			Swal.fire({
				  title: "경고",
				  text: errorMsg,
				  icon: "error",
				  confirmButtonText:"확인"
				}).then(() => {
					history.go(-1);
				});
			if (errorMsg === deleteMember) {
				location.href = "/member/anon/login";
			}
		}
	</script>

</body>
</html>
