<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="UTF-8"/>
	<title>게시글 작성</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/board/summernote-lite.min.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/board/tbwrite.css}">
	<script type="text/javascript" th:src="@{/js/jquery-3.7.1.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/board/summernote-lite.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/board/summernote-ko-KR.min.js}"></script>
</head>
<body>
<form id="boardform" method="post" th:action="@{modify}" onsubmit="return false">
	<input type="hidden" name="team_id" th:value="${team_id}">
	<input type="hidden" name="team_member_id" th:value="${team_member_id}">
	<input type="hidden" name="team_board_id" th:value="${dto?.team_board_id}">
	<span id="ca">
		<span>카테고리 : </span>
		<select name="tb_category" th:with="ca=${dto?.tb_category}">
			<option value="일반" th:selected="${ca} == '일반'">일반
			<option value="질문" th:selected="${ca} == '질문'">질문
			<option value="공지사항" th:selected="${ca} == '공지사항'">공지사항
		</select>
	</span>
	<input type="text" name="tb_title" id="tb_title" th:value="${dto?.tb_title}" placeholder="제목을 입력해 주세요." maxlength="50">
    <div id="summernote"></div>
    <input type="hidden" name="tb_content">

    <!--/* TODO 투표, 일정 있으면 출력하기 */-->

    <div id="btns">
	    <button type="button" class="btn" id="btn_save">저장</button>
	    <button type="button" class="btn" id="btn_reset">리셋</button>
    </div>
</form>
<div id="orgContent" style="display:none" th:utext="${dto?.tb_content}"></div>
<script>
	const orgContent = $("#orgContent").html();
	const boardform = document.getElementById('boardform');

	// 에디터 생성
	$('#summernote').summernote({
		placeholder: '내용을 작성해 주세요.',
		tabDisable: true,
		height: 450,
		lang: 'ko-KR',
		disableDragAndDrop: true,
		toolbar: [
			['fontname', ['fontname']],
			['fontsize', ['fontsize']],
			['style', ['style','bold', 'italic', 'underline','strikethrough', 'clear']],
			['color', ['forecolor','color']],
			['table', ['table']],
			['para', ['ul', 'ol', 'paragraph']],
			['height', ['height']],
			['insert',['link']],
			['view', [ 'help']]
			],
		fontNames: ['Arial', 'Arial Black', 'Comic Sans MS', 'Courier New','sans-serif','맑은 고딕','궁서','굴림체','굴림','돋움체','바탕체'],
		fontSizes: ['8','9','10','11','12','14','16','18','20','22','24','28','30','36','50','72']
	});

	// html태그, 공백 제거 (유효성 검사용)
	function isEmpty(str_code){
	  str_code = str_code.replace(/<\/?[^>]*>/gi,"")
	  str_code = str_code.replace(/&nbsp;/gi, "");
	  return str_code.trim();
	}

	// submit (유효성 검사 포함 (내용이 있는지 없는지))
	document.getElementById('btn_save').onclick = function(){
		let title = document.getElementById('tb_title').value;
		let content = document.querySelector('.note-editable').innerHTML
		if(title.trim().length < 2){
			alert('2글자 이상 제목을 입력해 주세요');
		}else if(isEmpty(content).length == 0){
			alert('내용을 입력해 주세요');
		}else{
			boardform.tb_content.value = content;
			boardform.submit();
		}
	}

	// 리셋 버튼
	document.querySelector('.note-editable').innerHTML = orgContent;
	document.querySelector('.note-placeholder').style='display: none';
	document.getElementById('btn_reset').addEventListener("click", function(){
		boardform.reset();
		document.querySelector('.note-editable').innerHTML = orgContent;
	});
</script>
</body>
</html>