<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="UTF-8"/>
	<title th:text="${dto.tb_title}"></title>
	<style>
		*{
			margin:0;
			padding:0;
		}
		body{
			width:1300px;
			margin:0 auto;
			padding-top:20px;
		}
		#title{
			padding:5px 15px;
		}
		#content{
			padding:15px;
		}
	</style>
</head>
<body>
<h2 id="title" th:text="${dto.tb_title}"></h2>
<hr>
<div id="content">
<th:block th:utext=${dto.tb_content}></th:block>
</div>
<hr>
</body>
</html>