<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="UTF-8"/>
	<meta name="_csrf_header" th:content="${_csrf.headerName}">
	<meta name="_csrf_token" th:content="${_csrf.token}">
	<meta name="team_id" th:content="${dto.team_id}">
	<meta name="team_member_id" th:content="${team_member_id}">
	<meta name="team_board_id" th:content="${dto.team_board_id}">
	<meta name="vote_id" th:content="${dto.vote_id}">
	<title th:text="${dto.tb_title}"></title>
	<link rel="stylesheet" type="text/css" href="/css/team/teamCommon.css">
	<link rel="stylesheet" type="text/css" href="/css/team/board/tbview.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="/js/team/board/tbview.js" defer></script>
</head>
<body>
<div id="main-container"> <!-- main-container 시작 -->
<span th:text="${dto.tb_category}"></span>
<h2 id="title" th:text="${dto.tb_title}"></h2>
<div class="float-clear">
	<span>작성자 : <span th:text="${dto.tm_nickname}" th:data-team_member_id="${dto.team_member_id}" class="team_member"></span></span>
	<span class="linkbox float-right">
		<span>작성시간 : [[${#temporals.format(dto.tb_reg, 'yyyy-MM-dd HH:mm:ss')}]]</span>
		<a href="#reply_refresh">댓글로</a>
	</span>
</div>
<hr>
<div id="content">
<div id="board_content" th:utext="${dto.tb_content}"></div>
<div id="schedule" th:if="${dto.schedule_id}">
	<!--/* 일정 출력 */-->
</div>
<div id="vote" th:if="${dto.vote_id}">
</div>
</div>
<div class="float-clear">
	<span>
		<a id="reply_refresh" href="javascript:void(0);">댓글 새로고침</a>
	</span>
	<span class="linkbox float-right"> <!--/* float:right 때문에 순서 반대 */-->
		<a th:if="${dto.team_member_id == team_member_id} or ${#strings.contains(tm_grade, 'MASTER')}" id="check_delete" href="javascript:void(0);">삭제</a> <!-- 모달 띄우고 예, 아니오, 예 누르면 요청 post로 처리 -->
		<a th:if="${dto.team_member_id == team_member_id}" th:href="@{|modify?team_id=${dto.team_id}&tb_id=${dto.team_board_id}&team_member_id=${dto.team_member_id}|}">수정</a>
		<a href="#title">본문으로</a>
		<a th:href="@{|list?team_id=${dto.team_id}&ca=${ca}&ps=${ps}&so=${so}&search=${search}&pageNum=${pageNum}|}">목록</a>
	</span>
</div>
<hr color="darkgray">
<div id="reply_box">
	<div id="reply_list">
	</div>
	<form id="reply_form" class="reply_form" onsubmit="return false;">
		<input type="hidden" name="team_board_id" th:value="${dto.team_board_id}">
		<input type="hidden" name="team_id" th:value="${dto.team_id}">
		<textarea name="reply_content" id="reply_content" placeholder="댓글을 작성해 주세요." maxlength="333"></textarea><button type="button" id="reply_btn">등록</button>
	</form>
</div>

<div th:if="${dto.team_member_id == team_member_id} or ${#strings.contains(tm_grade, 'MASTER')}" id="modal">
	<div id="modal_body">
		<h2>게시글을 삭제하시겠습니까?</h2>
		<div id="modal_btns">
			<button type="button" id="board_delete" th:data-tb_id="${dto.team_board_id}" 
			th:data-team_id="${dto.team_id}" th:data-vote_id="${dto.vote_id}"
			>삭제</button><button type="button" id="modal_close">취소</button>
		</div>
	</div>
</div>
</div> <!-- main-container 끝 -->
</body>
</html>