.team-item{
	width:200px;
	padding:5px;
	margin:5px;
	border: 2px groove lightgray;
}
.team-name{
	transform:translateY(-3px);
}
.team-item div{
	width:100px;
	height:100px;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
}
.team-cs{
	width:110px;
	height:140px;
	margin:5px;
	text-align:center;
	background-color:rgba(128, 128, 128, 0.15);
	display:flex;
	flex-direction:column;
	justify-content:space-evenly;
}
#main-container a{
	text-decoration:none;
	color:blue;
}