<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>비번 변경</title>
<script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/css/header.css"	/>
<meta name="_csrf" th:content="${_csrf.token}"/>
<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>
<body>
<header th:replace="~{/fragments/header :: header}"></header>
	<main class="pwChangeMain">
		<div class="pwChangeBox">
			<input type="hidden" id="member_id" th:value="${member_id}">
			<input type="password" id="newPassword" placeholder="새로운 비밀번호를 입력하세요."> 
			<input type="password" id="newPassword2" placeholder="비밀번호재입력 하세요."> 
			<button type="button" class="pwChangeBtn">변경</button>
		</div>
	</main>
	<script src="/js/common.js"></script>
	<script src="/js/member/pw_change.js"></script>
</body>
</html>