<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/layout}">
<head>
<link rel="stylesheet" type="text/css" href="/css/oauth2insert.css">
<script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
	<div layout:fragment="content">
		<main class="oauth2Main">
			<form  action="/oauth2/auth/signup" method="post" class="oauth2Form" onsubmit="return validateOauth2Insert()">
				<input type="hidden" th:name="_csrf" th:value="${_csrf.token}"/>
				<input type="hidden" id="member" th:value="${member}"/>
				
				<span class="joinText">회원가입을 위해<br> 정보를 입력해주세요</span>
				
				<label th:if="${member != null && member.getMember_email()=='none'}" for="member_email">이메일</label>
				<input type="email" th:if="${member != null && member.getMember_email()=='none'}" id="member_email" name="member_email">
				
				<label for="birth">생년월일</label>
				<input type="date" name="member_birth" id="birth" required="required"	/>
				
				<label for="phone">전화번호</label>
				<input type="number" name="member_phone" id="phone" required="required" placeholder="-빼고 작성해주세요"/>			
				<div class="genderCon">
					<div class="genderBox">
						<div>
							<label for="m">남성</label><input type="radio" name="member_gender" value="M" id="m"	/>
						</div>
						<div>
							<label for="w">여성</label><input type="radio" name="member_gender" value="W" id="w"	/>
					    </div>
					</div>
				</div>	
				<div class="signChkBox">
					<input type="checkbox" id="signChk">개인정보 수집 및 이용에 동의합니다.<a href="#" onclick="openModal()">[이용약관]</a>
				</div>
				<button type="submit" class="joinBtn">회원가입</button>
			</form>
			<div class="signChkModal" id="signModal">
				<div class="modalBody">
					<div class="Modaltop">
						<button type="button" class="Xbtn" onclick="closeModal()">X</button>
					</div>
					<div class="modalMain">
						<h1>이용약관</h1>
						<span>대충이용약관임</span>
					</div>
					<div class="btns">
						<button type="button" class="closeBtn" onclick="closeModal()">확인</button>
					</div>
				</div>
			</div>
		</main>
		<script type="text/javascript" src="/js/member/oauth2_insert.js"></script>
	</div>
</body>
</html>