<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/layout}">
<head>
<script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
	<div layout:fragment="content">
		<input type="password" id="pw" name="member_password" placeholder="현재 비밀번호를 입력하세요">
		<button type="button" class="pwChkBtn" th:value="${url}">확인</button>
		<script type="text/javascript" src="/js/member/memberPasswordChk.js"></script>
	</div>
</body>
</html>