<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<meta name="_csrf" th:content="${_csrf.token}"/>
<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
<link rel="stylesheet" type="text/css" href="/css/header.css"	/>
</head>
<body>
	<header th:replace="~{/fragments/header :: header}"></header>
		<input type="password" id="pw" name="member_password" placeholder="현재 비밀번호를 입력하세요">
		<button type="button" class="pwChkBtn" th:value="${url}">확인</button>
		
		<script type="text/javascript" src="/js/header.js"></script>
		<script src="/js/common.js"></script>
		<script type="text/javascript" src="/js/member/memberPasswordChk.js"></script>
</body>
</html>