<!DOCTYPE html>
<!-- 라이브러리 참조 : ThymeLeaf & Spring-Security & ThymeLeaf Layout -->
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Planner</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<meta name="_csrf" th:content="${_csrf.token}"/>
	<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>

<!-- CSS -->
<link th:href="@{/css/layout.css}" rel="stylesheet">

<body>
	<!-- Header 영역 -->
	<th:block th:replace="~{/fragments/header :: headerLayout}"></th:block>
	
	<!-- Content 영역 -->
	<th:block class="content" layout:fragment="content"></th:block>
	
	<!-- Footer 영역 -->
	<th:block th:replace="~{/fragments/footer :: footerLayout}"></th:block>
</body>
</html>