<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta name="_csrf" th:content="${_csrf.token}"/>
<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
<link rel="stylesheet" type="text/css" href="/css/header.css">
<link rel="stylesheet" type="text/css" href="/css/main.css">
<link rel="stylesheet" type="text/css" href="/css/calendar/calendar.css">
<link rel="stylesheet" type="text/css" href="/css/map/kakaomap.css">
<link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.12.1/dist/sweetalert2.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.12.1/dist/sweetalert2.all.min.js"></script>
<script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
	<header th:replace="~{/fragments/header :: header}"></header>
	<main class="mainCon">
		<input type="hidden" id="result" th:value="${result}">
		<div class="myeongUnBox">
			
		</div>
		<div class="middle">
			<div class="noticeBox">
				<div class="noticeTextBox">
					<span class="noticeText">공지사항</span>
				</div>
			</div>
			<div class="todayBox">
				<div class="todayTextBox">
					<span class="todayText">오늘의 일과</span>
				</div>
				<div class="todaySchedule" th:each="schedule ,loop : ${todaySchedule}" th:classappend="${loop.count != todaySchedule.size()} ? 'line'">
					<div class="top">
						<div class="title">
							<span class="head">일정</span>
							<span class="scheduleContent" th:text="${schedule.schedule_title}"></span>
						</div>
						<button class="deleteBtn" type="button" th:value="${schedule.schedule_id}">X</button>
					</div>
					<span class="head">내용</span>
					<span class="scheduleContent" th:text="${schedule.schedule_content}"></span>
					
					<span class="head">시간</span>
					<span class="scheduleContent" th:text="${#temporals.format(schedule.schedule_start,'HH:mm') }"></span>
					
					<span th:if="${!#strings.isEmpty(schedule.place)}" class="head">장소</span>
					<span th:if="${!#strings.isEmpty(schedule.place)}" class="scheduleContent" th:text="${schedule.place}"></span>
					
					<span th:if="${#strings.isEmpty(schedule.address)}" class="head">주소</span>
					<span th:if="${#strings.isEmpty(schedule.address)}" class="scheduleContent" th:text="${schedule.address}"></span>
				</div>
				<div class="addScheduleBtnBox">
					<button class="addScheduleBtn" type="button">일정 추가하기</button>
				</div>
			</div>
		</div>
	</main>
	
	<script src="/js/common.js"></script>
	<script src="/js/main.js"></script>
	<script type="text/javascript" src="/js/header.js"></script>
	<script th:src="@{/js/calendar/calendar.js}"></script>
</body>
</html>