.linespace{
	line-height:1.7;
}
#tm-table{
	margin:0 auto;
	transform:translateX(65px);
}
#tm-table tr{
	height: 28px;
}
#tm-table th:not(:last-child){
	border-bottom:3px double darkgray;
}
.btn-td button{
	padding:1px 4px;
}
.tmlink:hover {
	color:blue;
}