<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="UTF-8"/>
	<title>그룹 정보</title>
	<link rel="stylesheet" type="text/css" href="/css/team/teamCommon.css">
	<link rel="stylesheet" type="text/css" href="/css/team/teamInfo.css">
</head>
<body>
<div id="main-container"> <!-- main-container 시작 -->
<h2 th:if="${dto} == null" th:text="${msg}"></h2>
<table th:if="${dto} != null" th:object="${dto}">
	<tr>
		<td>그룹명</td>
		<td th:text="*{team_name}"></td>
	</tr>
	<tr>
		<td>그룹 소개</td>
		<td th:text="*{team_explain}"></td>
	</tr>
	<tr>
		<td>그룹장 이메일</td>
		<td th:text="*{member_email}"></td>
	</tr>
	<!-- 그룹 인원 수 출력? -->
	<tr>
		<td>이미지</td>
		<td>
			<img th:if="*{team_image} != null" th:src="'/team/img?img='+*{team_image}" th:alt="*{team_name}+' 그룹의 이미지'">
			<img th:if="*{team_image} == null" src="/images/team_default.png" alt="기본이미지"></img>
		</td>
	</tr>
	<tr>
		<td colspan="2" align="right">
			<!-- 그룹 인원 목록 링크? -->
			<button th:if="${tm_grade} != null AND ${tm_grade} != 'WAIT'" type="button" th:onclick="|window.location='/team/member/tmlist?team_id=*{team_id}'|">구성원 목록</button>
			<th:block th:if="${tm_grade == 'TEAM_MASTER'}">
				<button type="button" th:onclick="|window.location='/team/update?team_id=*{team_id}'|">수정하기</button>
				<button type="button" id="check_delete">그룹삭제</button>
			</th:block>
			<button th:if="${#strings.isEmpty(tm_grade)}" type="button" th:onclick="|window.location='/team/member/insert?team_id=*{team_id}'|">가입신청</button>
		</td>
	</tr>
</table>
</div> <!-- main-container 끝 -->

<th:block th:if="${tm_grade == 'TEAM_MASTER'}">
<div id="modal">
	<div id="modal_body">
		<h2>그룹을 삭제하시겠습니까?</h2>
		<div id="modal_btns">
			<form th:action="@{/team/delete}" th:method="DELETE">
				<input type="hidden" name="team_id" th:value="${dto.team_id}">
				<button type="submit" id="team_delete">삭제</button>
				<button type="button" id="modal_close">취소</button>
			</form>
		</div>
	</div>
</div>
<script>
const check_delete = document.getElementById('check_delete');
const modal_close = document.getElementById('modal_close');
// 그룹 삭제 modal창 on
check_delete.addEventListener('click', function(){
	modal.style.display = 'block';
})
// 그룹 삭제 modal창 off
modal_close.addEventListener('click', function(){
	modal.style.display = 'none';
})
</script>
</th:block>
</body>
</html>