<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="UTF-8"/>
	<title>그룹 정보 수정</title>
	<style>
		* {
			margin:0;
			padding:0;
		}
	</style>
</head>
<body>
<script th:if="${dto} == null">
	alert("잘못된 접근입니다");
	location.replace('/team/main');
</script>
<form th:action="@{|/team/update?team_id=${dto.team_id}|}" method="post" id="team_form" enctype="multipart/form-data" onsubmit="return imgcheck()">
<table th:if="${dto} != null" th:object="${dto}">
	<tr>
		<td><label for="team_name">그룹 이름</label></td>
		<td>
			<input type="text" th:field="*{team_name}" maxlength="50" required>
			<button type="button" id="overlap_btn">중복검사</button>
			<p id="overlap" style="display:none;"></p>
		</td>
	</tr>
	<tr>
		<td><label for="team_explain">그룹 소개</label></td>
		<td><textarea th:field="*{team_explain}" cols="42" rows="7" maxlength="333"></textarea></td>
	</tr>
	<tr>
		<td>이미지</td>
		<td>
			<span th:if="*{team_image} != null">
				<img th:src="'/team/img?img='+*{team_image}" th:alt="*{team_name}+' 그룹의 이미지'">
				<label for="delimg">이미지 제거</label><input type="checkbox" name="delimg" id="delimg" value="delimg">
			</span>
			<span th:if="*{team_image} == null">
				<img src="/images/team_default.png" alt="기본이미지"></img>
				<span style="font-size:0.8em; color:gray;">기본 이미지</span>
				<input type="hidden" name="delimg">
			</span>
		</td>
	</tr>
	<tr>
		<td><label for="team_image">그룹 이미지</label></td>
		<td><input type="file" name="team_image" id="team_image" accept=".jpg, .jpeg, .png, .gif, .wbmp, .bmp, .tif, .tiff"></td>
	</tr>
	<tr>
		<td></td>
		<td>
			<span style="font-size:0.8em; color:gray;">이미지는 100x100 사이즈를 권장합니다.<br>움직이는 이미지는 지원하지 않습니다.</span>
		</td>
	</tr>
	<tr>
		<td colspan="2" align="right">
			<button type="button" id="submit_btn">수정</button>
			<button type="button" id="reset_btn">리셋</button>
			<button type="button" th:onclick="|window.location='/team/info?team_id=*{team_id}'|">취소</button>
		</td>
	</tr>
</table>
</form>

<script>
	const team_form = document.getElementById("team_form");
	const team_name = document.getElementById("team_name");
	const org_team_name = team_name.value;
	const overlap_btn = document.getElementById("overlap_btn");
	const overlap = document.getElementById("overlap");
	const submit_btn = document.getElementById("submit_btn");
	const reset_btn = document.getElementById("reset_btn");
	const img = document.getElementById('team_image');
	const fileFormat = /(jpg|jpeg|png|bmp|wbmp|gif|tif|tiff)/; // 허용할 이미지 확장자
 	const maxSize = 2*1024*1024;	// 최대 크기 2MB
 	const delimg = document.getElementById('delimg');
 	const pass_msg = "사용 가능한 그룹 이름입니다.";
 	const overlap_msg = "이미 사용중인 그룹 이름입니다.";
 	
 	window.onload = function(){ // 최초 페이지 로딩시 실행
	 	// 그룹 이름 변경 안하면 중복 검사 통과 상태
	 	overlap.innerText = pass_msg;
	 	overlap.style.display = 'block'
		overlap.style.color = 'blue'
 	};
 	
 	// 그룹 이름 중복 검사
 	overlap_btn.addEventListener("click", function(){
 		if(team_name.value == org_team_name){ // 기존 그룹 이름 그대로면
 			overlap.innerText = pass_msg;
 			overlap.style.display = 'block'
			overlap.style.color = 'blue'
	 		return;
 		}
 		team_name.value = team_name.value.trim();
 		if(team_name.value.length < 2){
 			alert("그룹 이름은 2글자 이상 입력해주세요");
 			return;
 		}
 		fetch("/team/overlap?team_name="+team_name.value)
 			.then(response => response.text()) // response 객체의 값을 꺼내고
 			.then(result => {				// 다음 then에서 사용. K:V면 text()말고 json() 사용
		 		overlap.style.display = 'block'
 				if(result == 1){ // 중복 아님
			 		overlap.style.color = 'blue'
			 		overlap.innerText = pass_msg;
 				}else{ // 중복임
			 		overlap.style.color = 'red'
			 		overlap.innerText = overlap_msg;
 				}
 			});
 	});

 	// 그룹 이름 바뀌면 중복검사 초기화
 	team_name.addEventListener("keydown", function(){
 		overlap.style.display = 'none';
 		overlap.innerText = '';
 	});
 	
 	// submit 버튼
 	submit_btn.addEventListener("click", function(){
 		if(overlap.innerText == pass_msg){ // 중복 검사 통과된 상태면
 	 		if(img.files[0] != null){ // 이미지 파일 있으면 검사
	 			let filename = img.value.split('.');
	 			if(filename[filename.length-1].match(fileFormat) == null){
	 				alert("지원하지 않는 형식의 파일입니다.");
	 				return;
	 			}
	 			if(img.files[0].size > maxSize){
	 				alert('2MB 이하의 이미지를 사용해 주세요.');
	 				return;
	 			}
	 			if(delimg.checked == false){
	 				delimg.disabled = true;
	 			}
 	 		}
 	 		team_form.submit();
 		}else{
 			alert("그룹 이름 중복 검사를 해주세요.");
 		}
 	});
 	
 	// reset 버튼
 	reset_btn.addEventListener("click", function(){
 		team_form.reset();
 		overlap.innerText = pass_msg;
 	});
</script>
<th:block th:if="${msg}">
<input type="hidden" id="msg" th:value="${msg}">
<script>
	alert(document.getElementById("msg").value);
</script>
</th:block>
</body>
</html>