<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<nav th:fragment="friendLayout">
		<div align="right" style="width: 1000px;">
			<a sec:authorize="isAuthenticated()" href="/member/auth/search">친구찾기</a>
			<a sec:authorize="isAuthenticated()" href="/friend/receiveList">받은요청</a><span th:if="${receive_count > 0}" th:utext="'('+ ${receive_count}+')'" style="font-size: 12px;"></span>
			<a sec:authorize="isAuthenticated()" href="/friend/sendList">보낸요청</a>
			<a sec:authorize="isAuthenticated()" href="/friend/list">친구목록</a>
		</div>
	</nav>
</body>
</html>