<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <header class="header" th:fragment="header">
	<div class="menu">
		<ul class="logo">
			<li>
				<a href="/planner/main">Planner</a>
			</li>
		</ul>
	  	<ul>
	  		<li sec:authorize="isAuthenticated()">
	  			<a href="#">일정</a>
	  			<ul>
	  				<li>
		  				<a href="#">메뉴1</a>
		  			</li>
	  				<li>
		  				<a href="#">메뉴2</a>
		  			</li>
	  				<li>
		  				<a href="#">메뉴3</a>
		  			</li>
	  			</ul>
	  		</li>
	  	</ul>
	  	<ul>
	  		<li sec:authorize="isAuthenticated()">
	  			<a href="#">그룹</a>
	  			<ul>
	  				<li>
		  				<a href="#">메뉴1</a>
		  			</li>
	  				<li>
		  				<a href="#">메뉴2</a>
		  			</li>
	  				<li>
		  				<a href="#">메뉴3</a>
		  			</li>
	  			</ul>
	  		</li>
	  	</ul>
	  	<ul>
	  		<li sec:authorize="isAuthenticated()">
	  			<a href="/member/auth/search">친구</a>
	  			<ul>
	  				<li>
		  				<a href="/member/auth/search">회원검색</a>
		  			</li>
	  				<li>
		  				<a href="/friend/list">친구목록</a>
		  			</li>
	  				<li>
		  				<a href="/friend/receiveList">받은신청</a>
		  			</li>
	  				<li>
		  				<a href="/friend/sendList">보낸신청</a>
		  			</li>
	  			</ul>
	  		</li>
	  	</ul>
  	
	  	<ul class="my_menu">
	  		<li>
	  			<!-- 아이콘 이미지 -->
	  			<a class="a_header" sec:authorize="isAuthenticated()"  href="/member/auth/myInfo">내 정보</a>
	  			<a class="a_header" sec:authorize="isAuthenticated()"  href="/member/anon/signout">로그아웃</a>
	  			<a class="a_header" sec:authorize="isAnonymous()"  href="/member/anon/login">로그인</a>
	  		</li>
	  	</ul>
  	</div>
  </header>
</html>