<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <header id="header" class="nodrag" th:fragment="header">
	<div class="container">
		<i class="logo" onclick="location.href='/planner/main'">
			<img src="/images/pencil-solid.svg" width="30px" height="30px" />
			<span>planner</span>
		</i>
<!-- 		<a href="/planner/main" class="menu_btn"> -->
		<a href="#" class="menu_btn">
			<div></div>
			<div></div>
			<div></div>
		</a>
		<nav class="nav">
		  	<ul class="gnb">
		  		<li sec:authorize="isAuthenticated()"><a class="pointer" href="/planner/calendar">일정</a>
		  		</li>
		  		<li sec:authorize="isAuthenticated()"><a href="javascript:void(0);">그룹</a>
		  			<ul class="sub">
		  				<li><a href="/team/main">그룹 메인</a></li>
		  				<li><a href="/team/create">그룹 생성</a></li>
		  				<li><a href="/team/search">그룹 찾기</a></li>
		  			</ul>
		  		</li>
		  		<li sec:authorize="isAuthenticated()"><a href="javascript:void(0);">친구</a>
		  			<ul class="sub">
		  				<li><a href="/member/auth/search">회원검색</a></li>
		  				<li><a href="/friend/list">친구목록</a></li>
		  				<li><a href="/friend/receiveList">받은신청</a></li>
		  				<li><a href="/friend/sendList">보낸신청</a></li>
		  			</ul>
		  		</li>
		  		<li class="li_imgs">
		  			<i sec:authorize="isAuthenticated()" onclick="location.href='/member/auth/myInfo'">
		  				<img src="/images/myinfo.svg" width="20px" height="20px" class="mypage"	/>
		  			</i> &nbsp;&nbsp;
		  			<i sec:authorize="isAuthenticated()" onclick="location.href='/member/auth/signout'">
		  				<img src="/images/logout.svg" width="20px" height="20px" class="mypage"	/>
		  			</i>
		  			<i sec:authorize="isAnonymous()" onclick="location.href='/member/anon/login'">
		  				<img src="/images/login.svg" width="20px" height="20px" class="mypage"	/>
		  			</i>
		  		</li>
		  	</ul>
	  	</nav>
	</div>
	<div class="hd_bg"></div>
  </header>
</html>