<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<!-- meta -->
<meta charset="UTF-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
<!-- Bootstrap CSS -->
<link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">
<!-- sbp CSS -->
<link rel="stylesheet" type="text/css" th:href="@{/style.css}">
<title>Hello sbp!</title>
</head>
<body>
	<nav th:replace="~{navbar :: navbarFragment}"></nav>
	<!-- 기본 템플릿 안에 들어갈 내용 -->
	<th:block layout:fragment="content"></th:block>
	<!-- Bootstrap JS -->
	<script th:src="@{/bootstrap.min.js}"></script>
</body>
</html>