<html layout:decorate="~{layout}" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8" />
<title>회원 가입</title>
</head>
<body>
	<div layout:fragment="content" class="container my-3">
		<div class="my-3 border-bottom">
			<h2>회원가입</h2>
		</div>
		<form th:action="@{/user/signup}" th:object="${userCreateForm}"
			method="post">
			<div th:replace="~{form_errors :: formErrorsFragment}"></div>
			<div class="mb-3">
				<label for="username" class="form-label">사용자 이름</label> <input
					type="text" th:field="*{username}" class="form-control">
			</div>
			<div class="mb-3">
				<label for="pw">비밀번호</label> <input type="password" th:field="*{pw}"
					class="form-control">
			</div>
			<div class="mb-3">
				<label for="pw2">비밀번호 확인</label> <input type="password"
					th:field="*{pw2}" class="form-control">
			</div>
			<div class="mb-3">
				<label for="email">이메일</label> <input type="email"
					th:field="*{email}" class="form-control">
			</div>
			<button type="submit" class="btn btn-primary">회원 가입</button>
		</form>
	</div>
</body>
</html>