/* member_search.html */
/* 검색버튼 */
#keywordBtn {
    background-color: gray;
    color: ghostwhite;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 2px 2px darkgray;
    min-height: 10px;
    min-width: 30px;
}
/* 마우스 올렸을 때 */
#keywordBtn:hover {
	background-color: #a2a2a2;
	transition: 0.7s;
	cursor: pointer;
}
/* TAB 으로 포커스 되었을 때 */
#keywordBtn:focus {
	outline-color: transparent;
	outline-style: solid;
	box-shadow: 0 0 0 2px #696969;
	transition: 0.7s;
}
/* 마우스 클릭을 위해 잡거나 누르고있을 때 */
#keywordBtn:active {
	background-color: #454545;
}

/* ----------------------------------------------------- */
/* member_info, friend_receive, friend_send, friend_list */
/* 친구추가 버튼 */
.addBtn {
	background-color: lightgray;
    color: gray;
    border: none;
    border-radius: 2px;
    box-shadow: 0 0 2px 2px silver;
    min-height: 10px;
    min-width: 40px;
}
/* 마우스 올렸을 때 */
.addBtn:hover {
	background-color: silver;
	transition: 0.7s;
	cursor: pointer;
}
/* TAB 으로 포커스 되었을 때 */
.addBtn:focus {
	outline-color: transparent;
	outline-style: solid;
	box-shadow: 0 0 0 2px darkgray;
	transition: 0.7s;
}
/* 마우스 클릭을 위해 잡거나 누르고있을 때 */
.addBtn:active {
	background-color: #696969;
}
/* 비활성화된 버튼 */
.addBtn:disabled {
	pointer-events: none;
	opacity: 0;
	transition: 1.2s;
}

/* ----------------------------------------------------- */
/* friend_list.html */
/* 별명 변경 버튼 / 서밋 버튼 */
.hideBtn, .submitBtn {
	background-color: lightgray;
    color: gray;
    border: none;
    border-radius: 8px;
    box-shadow: 0 0 2px 2px silver;
    min-height: 20px;
    min-width: 24px;
}
/* 마우스 올렸을 때 */
.hideBtn:hover, .submitBtn:hover {
	background-color: silver;
	transition: 0.7s;
	cursor: pointer;
}
/* TAB 으로 포커스 되었을 때 */
.hideBtn:focus, .submitBtn:focus {
	outline-color: transparent;
	outline-style: solid;
	box-shadow: 0 0 0 2px darkgray;
	transition: 0.7s;
}
/* 마우스 클릭을 위해 잡거나 누르고있을 때 */
.hideBtn:active, .submitBtn:active {
	background-color: #696969;
}
/* 비활성화된 버튼 */
.hideBtn:disabled, .submitBtn:disabled {
	background-color: gray;
	transition: 1.2s;
	cursor: not-allowed;
}

/* 목록/삭제 버튼 */
.listBtn, #deleteBtn {
	font-size: 16px;
	font-weight: bold;
	color: gray;
	height: 35px;
	border: 2px solid gray;
	border-radius: 10px;
	background-color: white;
}
/* 마우스 올렸을 때 */
.listBtn:hover, #deleteBtn:hover {
	cursor: pointer;
}